@media (min-width: 100px) and (max-width: 824px){
	*{
		font-family: 'Ubuntu SC', cursive;
	}
	
.menu-colum{
		display: none;
		flex-direction: column;
	} 

	nav{
		flex-direction: column;
	}

	.enlace{
		width: 100%;
		color: white;
		background-color: black;
	}
	
	.enlace:hover{
	color: black;
	}
	
.menu{
		text-align: right;
		padding-right: 30px;
		width: 100%;
		color: white;
		background-color: black;
		cursor: crosshair;
	}

	.menu:hover{
		background-color: black;
	}

	.menu-ver{
		display: inherit;
		
	}
}

@media (min-width: 825px){
	.menu{
		display: none;
	}
}
