*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.container{
	display: flex;
}

nav{
	width: 100%;
	align-items: center;
}

.menu-columna{
	flex-direction: row;
	
	width: 100%;
	align-items: center;
}

a{
	background-color: #e91e63;
	text-decoration: none;
	color: black;
	width: 16.3%;
	text-align: center;
	line-height: 80px;
	font-size: 1.5rem;
	border: 1px solid #eeeeee;
}

a:hover{
	color: #eeeeee;
	background-color: #eeeeee;
}